{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}
{% block body %}
	<div class="row">


		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h5>Line Chart</h5>
					<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
				</div>
				<div class="card-block">
					<div id="line-example"></div>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h5>Donut Chart</h5>
					<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
				</div>
				<div class="card-block">
					<div id="donut-example"></div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
