{% extends 'base.html.twig' %}

{% block title %}Edit Constat{% endblock %}

{% block body %}
    
<div class="row">

  <table border="1">
    <thead>
    <th style="background-color: aqua;">1.</th>
    <th>Date de l'accident</th> 
    <th>Heure</th></thead>
    <tbody>

       <tr><td></td><td><input type="date" name="" id=""></td><td><input type="hour" name="" id=""></td></tr>
    </tbody>
   </table>
   <table border="1">
    <thead>
    <th style="background-color: aqua;">2.</th>
    <th>Localisation</th> 
    <th>Heure</th></thead>
    <tbody>

       <tr><td></td><td><input type="date" name="" id=""></td><td><input type="hour" name="" id=""></td></tr>
    </tbody>
   </table>
   <br>







</div>


<div class="row">
  <div class="col-4 bg-primary">
    <table border="1">
      <thead>
      <th style="background-color: aqua;">6.</th>
      <th>preneur d'assurance/assuré</th> 
    </thead>
      <tbody>
  <tr><td colspan="2">Nom:..............</td></tr>
       </tbody>
     </table>
     <table border="1">
      <thead>
      <th style="background-color: aqua;">6.</th>
      <th>preneur d'assurance/assuré</th> 
    </thead>
      <tbody>
  <tr><td colspan="2">Nom:..............</td></tr>
       </tbody>
     </table>
     <table border="1">
      <thead>
      <th style="background-color: aqua;">6.</th>
      <th>preneur d'assurance/assuré</th> 
    </thead>
      <tbody>
  <tr><td colspan="2">Nom:..............</td></tr>
       </tbody>
     </table>
     <table border="1">
      <thead>
      <th style="background-color: aqua;">6.</th>
      <th>preneur d'assurance/assuré</th> 
    </thead>
      <tbody>
  <tr><td colspan="2">Nom:..............</td></tr>
       </tbody>
     </table>

  </div>
  <div class="col-4">
<table>
  <thead>  <th>12.Circonstances</th>
  </thead>
<tbody>
  <tr>
    <td class="text-center"> <input type="checkbox"> </td><td class="text-center">* EN bla bla bla</td> 


    <td> <input type="checkbox"></td>
  </tr>

</tbody>
</table>



  </div>
  <div class="col-4 bg-warning"><table border="1">
    <thead>
    <th style="background-color: aqua;">6.</th>
    <th>preneur d'assurance/assuré</th> 
  </thead>
    <tbody>
<tr><td colspan="2">Nom:..............</td></tr>
     </tbody>
   </table></div>


</div>


<div class="row">
  <div class="col-3 bg-primary">
    hahahah
  </div>
  <div class="col-6"><input height="450px" type="file"></div>
  <div class="col-3 bg-warning">hahahaha</div>
</div>


















{% endblock %}
