<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Details</title>
</head>

<body>


	<p>Thank you for your contract order ! We have confirmed it and will process it shortly</p>
	<p>you can review you offre "{{titre}}" bhy clicking <a href="{{ path('app_offre_show', {'id': id}) }}">here</a>
	</p>

	Contact number : +216 26 273 722
	Email : Admin@admin.com

</body>

</html>