<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Email Details</title>
	</head>

	<body>


		<p>
			hey there !
		</p>
		<p>
			you have new Facture  ! enter to your space to see it</p>


		Contact number : +216 26 273 722
				Email  : Admin@admin.com

	</body>

</html>
